@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: radial-gradient(
      circle at 94% 72%,
      #2b2669 0 10%,
      transparent 10.2%
    ),
    radial-gradient(
      circle at 20% max(78%, 350px),
      #2a2566 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 0% 0%, #352f83 0 40%, transparent 40.2%), #302b69;
  width: 100%;
  height: 100vh;

}
